@import url("./base.css");
.main , .Aboutme ,.projects,.ContactMe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    grid-column-gap: 30px;
    padding:5px 60px;
}
.main--text,.About--text,.project--text,.contactme--text{
    grid-area: text;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    order: 2;
}
.main--image,.About--image,.contactme--form{
    grid-area: image;
    object-fit: contain;
    order: 1;
}

.MySkills,.Myprojects {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 5px 60px;
}
.MySkills--grid{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    padding: 30px 0px;
}
.main--text,.About--text{
   row-gap: 10px;
}
.MySkills--container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid var(--primary-color-text);
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.MySkills--container:hover{
    background-color: var(--Nutral);
    color: var(--secondary-color-bg);
}
.Myexperience{
    background-color: var(--primary-color-text);
    color: var(--secondary-color-bg);
    padding: 10px 60px;
    text-align: center;
}
.Experience--box{
    border: 1px solid var(--Nutral);
    margin: 15px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: padding-box;      
    flex-wrap: wrap;
    padding: 15px 40px ;
    row-gap: 20px;
} 
.Experience--box img{
    width: 8%;
    padding: 5px 0px;
}
.Experience--box img:nth-child(3n){
    width: 5%;
}
.Experience--box:nth-child(3n){
background-color: var(--Nutral);
}
.Experience--box:last-child{
margin-bottom: 15px;
}
.Experience--box__text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Myprojects{
    background-color: var(--primary-color-text);
    color: var(--secondary-color-bg);
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px ;
}
input{
    width: 80%;
    height: 35px;
    border: 1.5px solid var(--primary-color-text);
    border-radius: 4px;
}
.submit{
    height: 40px;
    border-radius: 5px;
    padding: 4px;
    width: 20%;
}
textarea{
    width: 80%;
    resize: none;
    border: 1.5px solid var(--primary-color-text);
    border-radius: 4px;
}
@media (max-width:870px){
  
    .main , .Aboutme ,.projects,.ContactMe{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "image"
                              "text";
        grid-column-gap: 30px;
        padding:5px 10px;
    }
    .MySkills{
        padding: 5px 10px;
    }
    .MySkills--grid{
        display: grid;
        grid-template-columns: repeat(2, auto);
        /* grid-template-rows: repeat(2, 1fr); */
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 30px 0px;
    }
    .Myexperience,.Myprojects{
        padding: 15px 10px;
    }
    .contact-form{
        margin-top: 30px;
        padding: 0 10px;
    }
    .submit{
        width: 40%;
    }
    .footer{
        padding: 0 10px;
    }
    [class^="warning"]{
        font-size: 10px;
        color: red;
    }

}